* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input, textarea, [contenteditable] {
	-webkit-touch-callout: auto;
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}

.query-wrapper {
	position: relative;
}
.query-holder {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 40px;
}
.query-holder pre{
	padding: 0px;
	margin: 0px;
	font-size: auto;
	line-height: auto;
	background-color: transparent;
	border: none;

}
.query-btns {
	position: absolute;
	width: 40px;
	top: 15px;
	right: 15px;
	text-align: right;
}
.highlightSQL {
	color: #ff0000;
}

.query {
	display: inline-block;
	min-height: 35px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #999;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	resize: none;
	width: 100%;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.query:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted 9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	color: #555;
}

.autogrow {
	resize: none;
}

.tab {
	display: none;
}
.tab.active {
	display: block;
}

ul.schema_tables {
	list-style: none;
	margin: 0px;
	padding: 0px;
	position: relative;
}

li.schema_table {
	margin: 0px;
	list-style: none;
	padding: 0px;

	width: 170px;
	display: relative;
	background-color: #ffffff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 5px;
	border: 1px solid #dedede;
}
li.schema_table > .schema_title {
	font-weight: bold;
	background-color: #f2f2f2;
	padding: 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
li.schema_table > .schema_column {
	border-top: 1px solid #eee;
	padding: 5px;
}



/* autogrow */

.textarea-mirror {
    display: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 13px;
    line-height: 20px;
    padding: 5px;
    color: #555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: normal;
    -webkit-appearance: textarea;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-writing-mode: horizontal-tb;
    text-align: start;
    margin: 0px;
}

/* simp Modal */

.simpTooltip {
	position:absolute;
	background:#444;
	padding:7px 10px;
	color:#FCFCFC;
	display:none;
	z-index: 11;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.simp_overlay {
    background: #000;
    display: none;
}
.simp_modal {
    width: 600px;
    padding: 30px;
    display: none;
    background: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.4);
    text-align: justify;
    margin-bottom: 50px;
}
.simp_modal .close_button {
    position: absolute;
    top: 6px;
    right: 8px;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
    font-family: sans-serif;
}
.simp_modal .close_button:hover {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.simp_modal.wide {
    width: 900px;
}
.simp_modal.narrow {
    width: 225px;
}
.simp_modal.dark {
    background: #333;
    color: #fff;
}